# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [1]:
DATA_FOLDER = 'Data/ebola' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import glob  # finds all the pathnames matching a specified pattern
pd.options.mode.chained_assignment = None  # default='warn', Mutes warnings when copying a slice from a DataFrame.

- Import the different reports in a DataFrame's and merge by country (Adding two different columns: report_date and country)
- Merge 3 DataFrame's in one
- For each country:
    - Daily average per month of new cases of deaths

In [3]:
# Import Guinea data in one file
data_folder ='Data/ebola/guinea_data/'
allFiles = glob.glob(data_folder + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
guinea_df = pd.concat(list_)

guinea_df.head(100)

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,NaN,0,NaN,2014-08-04,New cases of suspects,0,0,...,0,NaN,0,NaN,0,0,0,0,5,NaN
1,NaN,0,0,NaN,0,NaN,2014-08-04,New cases of probables,0,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN
2,NaN,0,1,NaN,0,NaN,2014-08-04,New cases of confirmed,0,0,...,0,NaN,0,NaN,0,0,0,0,4,NaN
3,NaN,0,6,NaN,0,NaN,2014-08-04,Total new cases registered so far,0,0,...,0,NaN,0,NaN,0,0,0,0,9,NaN
4,NaN,0,9,NaN,0,NaN,2014-08-04,Total cases of suspects,0,0,...,0,NaN,0,NaN,0,0,0,0,11,NaN
5,NaN,5,8,NaN,3,NaN,2014-08-04,Total cases of probables,1,0,...,2,NaN,11,NaN,0,1,0,3,133,NaN
6,NaN,18,78,NaN,1,NaN,2014-08-04,Total cases of confirmed,0,0,...,2,NaN,28,NaN,4,1,6,23,351,NaN
7,NaN,23,95,NaN,4,NaN,2014-08-04,Cumulative (confirmed + probable + suspects),1,0,...,4,NaN,39,NaN,4,2,6,26,495,NaN
8,NaN,0,0,NaN,0,NaN,2014-08-04,New deaths registered today,0,0,...,0,NaN,0,NaN,0,0,0,0,2,NaN
9,NaN,0,0,NaN,0,NaN,2014-08-04,New deaths registered today (confirmed),0,0,...,0,NaN,0,NaN,0,0,0,0,2,NaN
10,NaN,0,0,NaN,0,NaN,2014-08-04,New deaths registered today (probables),0,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN
11,NaN,0,0,NaN,0,NaN,2014-08-04,New deaths registered today (suspects),0,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN
12,NaN,0,2,NaN,0,NaN,2014-08-04,Total deaths of suspects,0,0,...,0,NaN,0,NaN,0,0,0,0,2,NaN
13,NaN,5,8,NaN,3,NaN,2014-08-04,Total deaths of probables,1,0,...,2,NaN,11,NaN,0,1,0,3,133,NaN
14,NaN,11,32,NaN,1,NaN,2014-08-04,Total deaths of confirmed,0,0,...,1,NaN,18,NaN,1,1,3,7,228,NaN
15,NaN,16,42,NaN,4,NaN,2014-08-04,Total deaths (confirmed + probables + suspects),1,0,...,3,NaN,29,NaN,1,2,3,10,363,NaN
16,NaN,0,21,NaN,0,NaN,2014-08-04,Total PEC center today,0,0,...,0,NaN,0,NaN,0,0,2,0,31,NaN
17,NaN,0,10,NaN,0,NaN,2014-08-04,Total PEC center today (confirmed),0,0,...,0,NaN,0,NaN,0,0,2,0,18,NaN
18,NaN,0,0,NaN,0,NaN,2014-08-04,Total PEC center today (probables),0,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN
19,NaN,0,11,NaN,0,NaN,2014-08-04,Total PEC center today (suspects),0,0,...,0,NaN,0,NaN,0,0,0,0,13,NaN
20,NaN,6,20,NaN,0,NaN,2014-08-04,Total of deaths in confirmed cases in CTE,0,0,...,0,NaN,10,NaN,0,0,2,5,138,NaN
21,NaN,7,34,NaN,0,NaN,2014-08-04,Total of cured in confirmed cases in CTE,0,0,...,0,NaN,8,NaN,0,0,0,9,89,NaN
22,NaN,10,48,NaN,1,NaN,2014-08-04,Number of male confirmed cases,0,0,...,1,NaN,14,NaN,2,0,6,6,161,NaN
23,NaN,8,30,NaN,0,NaN,2014-08-04,Number of female confirmed cases,0,0,...,1,NaN,14,NaN,2,1,0,17,190,NaN
24,NaN,3,4,NaN,1,NaN,2014-08-04,Number of male probables cases,0,0,...,2,NaN,5,NaN,0,1,0,1,52,NaN
25,NaN,2,4,NaN,2,NaN,2014-08-04,Number of female probables cases,1,0,...,0,NaN,6,NaN,0,0,0,2,81,NaN
26,NaN,0,5,NaN,0,NaN,2014-08-04,Number of male suspects cases,0,0,...,0,NaN,0,NaN,0,0,2,0,7,NaN
27,NaN,0,4,NaN,0,NaN,2014-08-04,Number of female suspects cases,0,0,...,0,NaN,0,NaN,0,0,0,0,6,NaN
28,NaN,13,57,NaN,2,NaN,2014-08-04,Total number of male cases,0,0,...,3,NaN,19,NaN,2,1,8,7,220,NaN
29,NaN,10,38,NaN,2,NaN,2014-08-04,Total number of female cases,1,0,...,1,NaN,20,NaN,2,1,0,19,277,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,NaN,0,0,NaN,0,NaN,2014-08-26,Number of contacts lost to follow up,0,0,...,0,NaN,0,1,NaN,5,0,0,9,2
29,NaN,NaN,9,NaN,NaN,NaN,2014-08-26,Number of samples collected today,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,55,NaN
30,NaN,NaN,0,NaN,NaN,NaN,2014-08-26,Number of samples under test,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN
31,NaN,NaN,723,NaN,NaN,NaN,2014-08-26,Total samples tested,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1700,NaN
0,NaN,0,0,NaN,0,NaN,2014-08-27,New cases of suspects,0,0,...,0,NaN,7,NaN,1,0,0,0,12,1
1,NaN,0,0,NaN,0,NaN,2014-08-27,New cases of probables,0,0,...,0,NaN,0,NaN,0,0,0,0,0,0
2,NaN,0,4,NaN,0,NaN,2014-08-27,New cases of confirmed,0,1,...,0,NaN,5,NaN,0,0,0,0,10,0
3,NaN,0,4,NaN,0,NaN,2014-08-27,Total new cases registered so far,0,1,...,0,NaN,12,NaN,1,0,0,0,22,1
4,NaN,0,8,NaN,0,NaN,2014-08-27,Total cases of suspects,0,0,...,0,NaN,8,NaN,1,0,0,0,22,1
5,NaN,NaN,8,NaN,3,NaN,2014-08-27,Total cases of probables,1,NaN,...,NaN,NaN,11,NaN,NaN,NaN,NaN,3,142,NaN
6,NaN,NaN,102,NaN,1,NaN,2014-08-27,Total cases of confirmed,0,NaN,...,NaN,NaN,103,NaN,NaN,NaN,NaN,23,499,NaN
7,NaN,NaN,118,NaN,4,NaN,2014-08-27,Cumulative (confirmed + probable + suspects),1,NaN,...,NaN,NaN,122,NaN,NaN,NaN,NaN,26,663,NaN
8,NaN,NaN,195,NaN,1,NaN,2014-08-27,Total suspected non-class cases,0,NaN,...,NaN,NaN,63,NaN,NaN,NaN,NaN,18,518,NaN
9,NaN,NaN,0,NaN,0,NaN,2014-08-27,New deaths registered,0,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,0,2,NaN
10,NaN,NaN,2,NaN,0,NaN,2014-08-27,Total deaths of suspects,0,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,2,NaN
11,NaN,NaN,8,NaN,3,NaN,2014-08-27,Total deaths of probables,1,NaN,...,NaN,NaN,11,NaN,NaN,NaN,NaN,3,142,NaN
12,NaN,NaN,39,NaN,1,NaN,2014-08-27,Total deaths of confirmed,0,NaN,...,NaN,NaN,53,NaN,NaN,NaN,NaN,7,294,NaN
13,NaN,NaN,49,NaN,4,NaN,2014-08-27,Total deaths (confirmed + probables + suspects),1,NaN,...,NaN,NaN,64,NaN,NaN,NaN,NaN,10,438,NaN
14,NaN,NaN,42%,NaN,100%,NaN,2014-08-27,Fatality rate for confirmed and probables,100%,NaN,...,NaN,NaN,52%,NaN,NaN,NaN,NaN,38%,66%,NaN
15,NaN,NaN,0,NaN,0,NaN,2014-08-27,New cases of confirmed among health workers,0,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0,NaN
16,NaN,NaN,22,NaN,0,NaN,2014-08-27,Total case of confirmed among health workers,0,NaN,...,NaN,NaN,9,NaN,NaN,NaN,NaN,2,45,NaN
17,NaN,NaN,0,NaN,0,NaN,2014-08-27,New deaths registered among health workers,0,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0,NaN
18,NaN,NaN,11,NaN,0,NaN,2014-08-27,Total deaths registered among health workers,0,NaN,...,NaN,NaN,7,NaN,NaN,NaN,NaN,1,26,NaN
19,NaN,NaN,5,NaN,0,NaN,2014-08-27,New admits to CTE so far,0,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,12,NaN
20,NaN,NaN,26,NaN,0,NaN,2014-08-27,Total number of hospitalized cases in CTE,0,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,80,NaN
21,NaN,NaN,6,NaN,0,NaN,2014-08-27,Total number of exits from CTE,0,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,14,NaN
22,NaN,NaN,307,NaN,0,NaN,2014-08-27,Total number of admissions to CTE,0,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,41,999,NaN
23,NaN,NaN,9,NaN,0,NaN,2014-08-27,New contacts registered so far,0,NaN,...,NaN,NaN,24,NaN,NaN,NaN,NaN,0,127,NaN
24,NaN,NaN,1934,NaN,69,NaN,2014-08-27,Total contacts registered from start date,0,NaN,...,NaN,NaN,680,NaN,NaN,NaN,NaN,259,7662,NaN
25,NaN,NaN,204,NaN,0,NaN,2014-08-27,Number of contacts to follow today,0,NaN,...,NaN,NaN,360,NaN,NaN,NaN,NaN,0,1264,NaN

# Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [4]:
mb1 = pd.read_excel('Data/microbiome/MID1.xls', 'Sheet 1', index_col=0, header=None)
mb2 = pd.read_excel('Data/microbiome/MID2.xls', 'Sheet 1', index_col=0, header=None)
mb3 = pd.read_excel('Data/microbiome/MID3.xls', 'Sheet 1', index_col=0, header=None)
mb4 = pd.read_excel('Data/microbiome/MID4.xls', 'Sheet 1', index_col=0, header=None)
mb5 = pd.read_excel('Data/microbiome/MID5.xls', 'Sheet 1', index_col=0, header=None)
mb6 = pd.read_excel('Data/microbiome/MID6.xls', 'Sheet 1', index_col=0, header=None)
mb7 = pd.read_excel('Data/microbiome/MID7.xls', 'Sheet 1', index_col=0, header=None)
mb8 = pd.read_excel('Data/microbiome/MID8.xls', 'Sheet 1', index_col=0, header=None)
mb9 = pd.read_excel('Data/microbiome/MID9.xls', 'Sheet 1', index_col=0, header=None)

In [5]:
mb1.head()

                                                    1
0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  7
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  2
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  3
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  3
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  7

In [6]:
names = pd.read_excel('Data/microbiome/metadata.xls', 'Sheet1', header=None, na_values=['NA'])
names.columns=names.loc[0]
names.index = names.BARCODE
names=names.drop('BARCODE')
names=names.drop('BARCODE', axis=1)
names

0                     GROUP  SAMPLE
BARCODE
MID1     EXTRACTION CONTROL     NaN
MID2                  NEC 1  tissue
MID3              Control 1  tissue
MID4                  NEC 2  tissue
MID5              Control 2  tissue
MID6                  NEC 1   stool
MID7              Control 1   stool
MID8                  NEC 2   stool
MID9              Control 2   stool

In [7]:
print(mb1.describe())
print(mb2.describe())
print(mb3.describe())
print(mb4.describe())
print(mb5.describe())
print(mb6.describe())
print(mb7.describe())
print(mb8.describe())
print(mb9.describe())

                 1
count   272.000000
mean     44.801471
std     267.473758
min       1.000000
25%       1.000000
50%       2.000000
75%       7.000000
max    3732.000000
                 1
count   288.000000
mean     58.378472
std     467.044618
min       1.000000
25%       1.000000
50%       2.000000
75%       7.250000
max    6176.000000
                 1
count   367.000000
mean     33.446866
std     154.765809
min       1.000000
25%       1.000000
50%       3.000000
75%      11.000000
max    1968.000000
                 1
count   134.000000
mean     76.388060
std     685.826464
min       1.000000
25%       1.000000
50%       2.000000
75%       4.750000
max    7910.000000
                 1
count   379.000000
mean     47.625330
std     364.842217
min       1.000000
25%       1.000000
50%       3.000000
75%       8.500000
max    5503.000000
                 1
count   181.000000
mean     84.011050
std     596.440627
min       1.000000
25%       1.000000
50%       2.000000
75%       7.000000
max    5762.000000
                 1
count   395.000000
mean     48.116456
std     252.249326
min       1.000000
25%       1.000000
50%       3.000000
75%      11.500000
max    3448.000000
                 1
count    99.000000
mean     87.898990
std     652.258549
min       1.000000
25%       1.000000
50%       3.000000
75%       6.500000
max    6445.000000
                  1
count    281.000000
mean      74.982206
std      709.295714
min        1.000000
25%        1.000000
50%        2.000000
75%        7.000000
max    11277.000000

In [8]:
for mb in [mb1, mb2, mb3, mb4, mb5, mb6, mb7, mb8, mb9]:
    mb.columns=['count']
    mb.index.name='Taxon'

In [9]:
EXcont=mb1['count'].rename(names['GROUP'][0])
samples = ['tissue']*2+['stool']*2

XcontX=[1,2,3,4]
for i,[M1, M2] in enumerate(zip([mb2, mb4, mb6, mb8],[mb3, mb5, mb7, mb9])):
    XcontX[i] = pd.concat( [ M1['count'].rename('NEC'),M2['count'].rename('Control')], axis=1)
    XcontX[i]['SAMPLE']=samples[i]
    XcontX[i]['EXPERIMENT']=(i%2)+1
    XcontX[i].index.name='bacteria'
    XcontX[i]=XcontX[i][['SAMPLE','EXPERIMENT','NEC','Control']]
    XcontX[i].set_index(['SAMPLE','EXPERIMENT'], append=True, inplace=True)

EXcont.head()
XcontX[3].head()

,,,NEC,Control
bacteria,SAMPLE,EXPERIMENT,,
"Archaea ""Crenarchaeota"" Thermoprotei Acidilobales Caldisphaeraceae Caldisphaera",stool,2,NaN,1.0
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera",stool,2,NaN,16.0
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Sulfophobococcus",stool,2,NaN,2.0
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Pyrodictiaceae Pyrodictium",stool,2,NaN,5.0
"Archaea ""Crenarchaeota"" Thermoprotei Sulfolobales Sulfolobaceae Stygiolobus",stool,2,1.0,6.0

In [11]:
Tcont= XcontX[0].combine_first(XcontX[1])
Scont= XcontX[2].combine_first(XcontX[3])
tot= Scont.combine_first(Tcont)
print(tot.index.is_unique)
tot.head(20)

True

                                                                       NEC  \
bacteria                                           SAMPLE EXPERIMENT
Archaea "Crenarchaeota" Thermoprotei Acidilobal... tissue 1            2.0
                                                          2            NaN
Archaea "Crenarchaeota" Thermoprotei Acidilobal... stool  1            NaN
                                                          2            NaN
                                                   tissue 1           14.0
                                                          2            NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1            7.0
                                                          2            NaN
                                                   tissue 1           23.0
                                                          2            2.0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 2            NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1            1.0
                                                          2            NaN
                                                   tissue 1            1.0
                                                          2            NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1            NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1            NaN
                                                   tissue 1            2.0
                                                          2            NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1            1.0

                                                                      Control
bacteria                                           SAMPLE EXPERIMENT
Archaea "Crenarchaeota" Thermoprotei Acidilobal... tissue 1               1.0
                                                          2               5.0
Archaea "Crenarchaeota" Thermoprotei Acidilobal... stool  1               1.0
                                                          2               1.0
                                                   tissue 1              15.0
                                                          2              26.0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1               8.0
                                                          2              16.0
                                                   tissue 1              14.0
                                                          2              28.0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 2               1.0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1               2.0
                                                          2               2.0
                                                   tissue 1               4.0
                                                          2               5.0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1               1.0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1               1.0
                                                   tissue 1               1.0
                                                          2               2.0
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1               NaN

In [69]:
tot.fillna('unknown', inplace=True )
tot.head()

mb1.index.rename('bacteria', inplace=True)
tot.join(mb1, how='outer')

                                                                          NEC  \
bacteria                                           SAMPLE EXPERIMENT
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1                 7
                                                          2           unknown
                                                   tissue 1                23
                                                          2                 2
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1                 2
                                                   tissue 1                 2
                                                          2           unknown
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1                 5
                                                          2                 1
                                                   tissue 1                10
                                                          2           unknown
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1                 4
                                                          2           unknown
                                                   tissue 1                 9
                                                          2           unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                12
                                                          2           unknown
                                                   tissue 1                 9
                                                          2                 1
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                 1
                                                          2           unknown
                                                   tissue 1                12
                                                          2           unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                 1
                                                          2           unknown
                                                   tissue 1                 2
                                                          2           unknown
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo... stool  1                 4
                                                          2           unknown
                                                   tissue 1                 4
...                                                                       ...
Bacteria "Synergistetes" Synergistia Synergista... tissue 1                 2
                                                          2                 1
Bacteria "Tenericutes" Mollicutes Haloplasmatal... stool  1                18
                                                          2           unknown
                                                   tissue 1                15
Bacteria "Thermodesulfobacteria" Thermodesulfob... stool  1                 1
                                                          2           unknown
                                                   tissue 1                 1
                                                          2           unknown
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1                12
                                                          2                 4
                                                   tissue 1                15
                                                          2                13
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1                11
                                                          2                 2
                                                   tissue 1                22
                                                          2                 4
Bacteria "Verrucomicrobia" Opitutae Opitutales ... stool  1           unknown
                                                   tissue 1           unknown
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1           unknown
                                                          2                 1
                                                   tissue 1           unknown
                                                          2           unknown
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1           unknown
                                                          2                 4
                                                   tissue 1                 1
                                                          2                 6
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  2           unknown
                                                   tissue 1                 2
                                                          2                44

                                                                      Control  \
bacteria                                           SAMPLE EXPERIMENT
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1                 8
                                                          2                16
                                                   tissue 1                14
                                                          2                28
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1                 1
                                                   tissue 1           unknown
                                                          2                 3
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1                 5
                                                          2                 6
                                                   tissue 1                 4
                                                          2                14
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1                 5
                                                          2                 5
                                                   tissue 1                 5
                                                          2                10
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                18
                                                          2                14
                                                   tissue 1                 7
                                                          2                17
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                 2
                                                          2                 6
                                                   tissue 1                 2
                                                          2                11
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                 2
                                                          2                 3
                                                   tissue 1                 1
                                                          2                 3
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo... stool  1                 9
                                                          2                 3
                                                   tissue 1           unknown
...                                                                       ...
Bacteria "Synergistetes" Synergistia Synergista... tissue 1                 3
                                                          2                 5
Bacteria "Tenericutes" Mollicutes Haloplasmatal... stool  1                 2
                                                          2                11
                                                   tissue 1                 2
Bacteria "Thermodesulfobacteria" Thermodesulfob... stool  1                 1
                                                          2                 1
                                                   tissue 1           unknown
                                                          2                 1
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1                15
                                                          2                43
                                                   tissue 1                12
                                                          2                26
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1                16
                                                          2                16
                                                   tissue 1                 7
                                                          2                36
Bacteria "Verrucomicrobia" Opitutae Opitutales ... stool  1                 2
                                                   tissue 1                 1
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1                 1
                                                          2           unknown
                                                   tissue 1                 1
                                                          2                 2
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1                 2
                                                          2                 1
                                                   tissue 1                 4
                                                          2                 5
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  2                10
                                                   tissue 1                54
                                                          2                59

                                                                     EXTRACTION CONTROL  \
bacteria                                           SAMPLE EXPERIMENT
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1                           7
                                                          2                           7
                                                   tissue 1                           7
                                                          2                           7
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1                           2
                                                   tissue 1                           2
                                                          2                           2
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1                           3
                                                          2                           3
                                                   tissue 1                           3
                                                          2                           3
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1                           3
                                                          2                           3
                                                   tissue 1                           3
                                                          2                           3
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                           7
                                                          2                           7
                                                   tissue 1                           7
                                                          2                           7
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                           1
                                                          2                           1
                                                   tissue 1                           1
                                                          2                           1
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1                           1
                                                          2                           1
                                                   tissue 1                           1
                                                          2                           1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo... stool  1                           1
                                                          2                           1
                                                   tissue 1                           1
...                                                                                 ...
Bacteria "Synergistetes" Synergistia Synergista... tissue 1                           1
                                                          2                           1
Bacteria "Tenericutes" Mollicutes Haloplasmatal... stool  1                           1
                                                          2                           1
                                                   tissue 1                           1
Bacteria "Thermodesulfobacteria" Thermodesulfob... stool  1                           1
                                                          2                           1
                                                   tissue 1                           1
                                                          2                           1
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1                           7
                                                          2                           7
                                                   tissue 1                           7
                                                          2                           7
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1                           9
                                                          2                           9
                                                   tissue 1                           9
                                                          2                           9
Bacteria "Verrucomicrobia" Opitutae Opitutales ... stool  1                           1
                                                   tissue 1                           1
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1                           2
                                                          2                           2
                                                   tissue 1                           2
                                                          2                           2
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1                          85
                                                          2                          85
                                                   tissue 1                          85
                                                          2                          85
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  2                        1388
                                                   tissue 1                        1388
                                                          2                        1388

                                                                      count
bacteria                                           SAMPLE EXPERIMENT
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1               7
                                                          2               7
                                                   tissue 1               7
                                                          2               7
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1               2
                                                   tissue 1               2
                                                          2               2
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1               3
                                                          2               3
                                                   tissue 1               3
                                                          2               3
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1               3
                                                          2               3
                                                   tissue 1               3
                                                          2               3
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1               7
                                                          2               7
                                                   tissue 1               7
                                                          2               7
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1               1
                                                          2               1
                                                   tissue 1               1
                                                          2               1
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1               1
                                                          2               1
                                                   tissue 1               1
                                                          2               1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo... stool  1               1
                                                          2               1
                                                   tissue 1               1
...                                                                     ...
Bacteria "Synergistetes" Synergistia Synergista... tissue 1               1
                                                          2               1
Bacteria "Tenericutes" Mollicutes Haloplasmatal... stool  1               1
                                                          2               1
                                                   tissue 1               1
Bacteria "Thermodesulfobacteria" Thermodesulfob... stool  1               1
                                                          2               1
                                                   tissue 1               1
                                                          2               1
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1               7
                                                          2               7
                                                   tissue 1               7
                                                          2               7
Bacteria "Thermotogae" Thermotogae Thermotogale... stool  1               9
                                                          2               9
                                                   tissue 1               9
                                                          2               9
Bacteria "Verrucomicrobia" Opitutae Opitutales ... stool  1               1
                                                   tissue 1               1
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1               2
                                                          2               2
                                                   tissue 1               2
                                                          2               2
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  1              85
                                                          2              85
                                                   tissue 1              85
                                                          2              85
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool  2            1388

In [54]:
TOT.head(50)

                                                                 NEC  Control  \
Archaea "Crenarchaeota" Thermoprotei Acidilobal... tissue 1        2        1
                                                          2  unknown        5
Archaea "Crenarchaeota" Thermoprotei Acidilobal... stool  1  unknown        1
                                                          2  unknown        1
                                                   tissue 1       14       15
                                                          2  unknown       26
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1        7        8
                                                          2  unknown       16
                                                   tissue 1       23       14
                                                          2        2       28
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 2  unknown        1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1        1        2
                                                          2  unknown        2
                                                   tissue 1        1        4
                                                          2  unknown        5
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1  unknown        1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1  unknown        1
                                                   tissue 1        2        1
                                                          2  unknown        2
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1        1  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1        1        1
                                                          2  unknown        5
                                                   tissue 1  unknown        3
                                                          2  unknown        2
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1        2        1
                                                   tissue 1        2  unknown
                                                          2  unknown        3
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1        5        5
                                                          2        1        6
                                                   tissue 1       10        4
                                                          2  unknown       14
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1        4        3
                                                          2  unknown        2
                                                   tissue 1       11        2
                                                          2        1        5
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1        4        5
                                                          2  unknown        5
                                                   tissue 1        9        5
                                                          2  unknown       10
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1        1  unknown
                                                          2  unknown        3
                                                   tissue 1        5        3
                                                          2  unknown       18
Archaea "Crenarchaeota" Thermoprotei Thermoprot... tissue 1        3        1
                                                          2  unknown        6
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1       12       18
                                                          2  unknown       14
                                                   tissue 1        9        7
                                                          2        1       17
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1        2  unknown

                                                             count
Archaea "Crenarchaeota" Thermoprotei Acidilobal... tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Acidilobal... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 2    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue 1    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool  1    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Sulfolobal... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Thermoprot... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Crenarchaeota" Thermoprotei Thermoprot... tissue 1    NaN
                                                          2    NaN
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1    NaN
                                                          2    NaN
                                                   tissue 1    NaN
                                                          2    NaN
Archaea "Euryarchaeota" "Methanomicrobia" Metha... stool  1    NaN

# HOW TO ACCESS TO ROWS

In [47]:
Index = tot.index
bacterias = Index.get_level_values(0)
print(bacterias)
mask = ['Archaea' in name for name in bacterias]
tot.loc[mask]

tot.loc['Archaea "Crenarchaeota" Thermoprotei Acidilobales Acidilobaceae Acidilobus','tissue',1]

Index(['Archaea "Crenarchaeota" Thermoprotei Acidilobales Acidilobaceae Acidilobus',
       'Archaea "Crenarchaeota" Thermoprotei Acidilobales Acidilobaceae Acidilobus',
       'Archaea "Crenarchaeota" Thermoprotei Acidilobales Caldisphaeraceae Caldisphaera',
       'Archaea "Crenarchaeota" Thermoprotei Acidilobales Caldisphaeraceae Caldisphaera',
       'Archaea "Crenarchaeota" Thermoprotei Acidilobales Caldisphaeraceae Caldisphaera',
       'Archaea "Crenarchaeota" Thermoprotei Acidilobales Caldisphaeraceae Caldisphaera',
       'Archaea "Crenarchaeota" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera',
       'Archaea "Crenarchaeota" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera',
       'Archaea "Crenarchaeota" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera',
       'Archaea "Crenarchaeota" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera',
       ...
       'Bacteria Cyanobacteria Cyanobacteria  Chloroplast Chlorarachniophyceae',
       'Bacteria Cyanobacteria Cyanobacteria  Chloroplast Chlorarachniophyceae',
       'Bacteria Cyanobacteria Cyanobacteria  Chloroplast Chlorarachniophyceae',
       'Bacteria Cyanobacteria Cyanobacteria  Chloroplast Streptophyta',
       'Bacteria Cyanobacteria Cyanobacteria  Chloroplast Streptophyta',
       'Bacteria Cyanobacteria Cyanobacteria  Chloroplast Streptophyta',
       'Bacteria OD1    OD1_genera_incertae_sedis',
       'Bacteria OD1    OD1_genera_incertae_sedis',
       'Bacteria OP11    OP11_genera_incertae_sedis',
       'Bacteria TM7    TM7_genera_incertae_sedis'],
      dtype='object', name='bacteria', length=1680)

NEC        2
Control    1
Name: (Archaea "Crenarchaeota" Thermoprotei Acidilobales Acidilobaceae Acidilobus, tissue, 1), dtype: object

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here